h1 {
    font: 3em 'Indie Flower', cursive;
    color: #ffa500;
    font-weight: bold;
}

.row {
    margin: 0px;
}
.stats {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.25em;
    max-width: 505px;
    margin: auto;
}

.modal-body {
  font-family: Arial, sans-serif;
}

canvas {
    width: 100%;
    max-width: 505px;
    max-height: 606px;
}

.btn {
    margin: 1em;
}

/* Styling using an ID, since it was needed for JavaScript purposes */
#game {
    float: none;
    margin: auto;
    max-width: 505px;
    width: 100%;
}

