canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 505px;
}

h1, h2 {
  color: #a9054a;
  text-align: center;
}

h1 {
  font: 3em 'Luckiest Guy', sans-serif;
}

h2 {
  font: 2.25em 'Luckiest Guy', sans-serif;
}

h1, h2, div {
  padding: 0px;
  margin: 0px;
}

li {
    list-style: none;
}

.info, .score {
  padding: 0;
  margin: auto;
  width: 505px;
}

.score {
    font-weight: bold;
    font-family: 'Courier New', monospace;
    font-size: 2em;
    text-align: left;
}